@import "tailwindcss";


@theme {
  --color-orange: #FFC19A;
  --color-matte-black: #36362E;
  --color--peach: #FFC19;
  --color--pinkish: #FFB2B2;
  --font-sans: 'Cormorant Garamond', serif;
}

  body {
    background-color: var(--black);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    font-family: var(--font-sans);
    font-size: 16px;
  }
