@import "tailwindcss";

.content-grid {
  --space: clamp(0.75rem, 2.5vw, 1.5rem); /* används för gap mellan saker */
  --sides: clamp(0.75rem, 3vw, 1.75rem); /* enbart sidogutter */

  --full: minmax(var(--sides), 1fr);
  --content: min(60ch, calc(100% - var(--sides) * 2));
  --popout: minmax(0, 20rem);
  --feature: minmax(0, clamp(8rem, 80vw, 80rem));

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}
.content-grid > * {
  grid-column: content;
}
.popout {
  grid-column: popout;
}
.feature {
  grid-column: feature;
}
.full {
  grid-column: full;
}

@theme {
  --color-orange: #ffc19a;
  --color-matte-black: #36362e;
  --color--peach: #FFC19;
  --color--pinkish: #ffb2b2;
  --font-evgeni: "Cormorant Garamond", serif;
  --font-sans: "Libre Franklin", sans-serif;
  --color-blackround: #11100c;
}

body {
  background-color: var(--color-blackround);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 16px;
}
